.wrapper
{
    display: flex;
}
.aside{
  
    height: 800px;
    float: left;
}
.pic{
   
    height:250px;
    
    padding: 50px;
  
    justify-content: center;
}

img{
    width: 250px ;
    height:250px;
    border-radius: 50%; 
}
.para{
   
    height: 100px;
    padding-top: 10px;
    padding-left: 20px;
    line-height: 2px;
   

}
.main{
   
    
    height: 800px;
    width: 53%;
    justify-content: center;
    
}

.btn{
    margin-left: 30px;
    margin-top: 20px;

}
.des{
    padding: 30px;
    
}
h4{
    color: gray;
}
.para button{
    width:170px;
    height:40px;
    border-radius: 10px;
    border-color: gray;
}